body {
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  letter-spacing: 0.05em;
}

* {
  position: relative;
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 200px;
  color: white;
  margin: 0 auto;
  margin-bottom: 24px;
}

.box > div {
  display: flex;
  position: absolute;
  top: 0;
  width: 300px;
  height: 200px;
  background: linear-gradient(220deg, #3d45b1, #844efc);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform-origin: top center;
  will-change: transform;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
}

.value-right {
  text-align: right;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
