.styled-detail-place {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bubble-button {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.8px;
  text-align: center;
  color: #11416f;
  background-color: #f5f5f5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.speech-polygon {
  content: "";
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #f5f5f5;
  border-bottom: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  margin-bottom: 8px;
}

.emoji-location {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 35px;
  font-size: 50px;
}

.marker_overlay {
  text-align: center;
  padding: 10px 20px;
  min-width: 100px;
  background-color: #fefefe;
  border-radius: 18px;
  position: relative;
  white-space: normal;
  word-break: keep-all;
  width: max-content;
  max-width: 80vw;
}

.marker_overlay:after {
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fefefe;
  content: "";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
}

.place_name {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  word-break: keep-all;
}

.text_primary {
  color: #0581bb;
}

.avatar {
  display: inline-block;
  position: absolute;
  top: -16px;
  right: 5px;
  font-size: 25px;
}

.shadow {
  transition: all 0.2s;
  -webkit-box-shadow: 3px 3px 8px rgb(0 0 0 / 20%);
  box-shadow: 3px 3px 8px rgb(0 0 0 / 20%);
}
